@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo-black-webfont.eot');
    src: url('../fonts/chivo-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chivo-black-webfont.woff') format('woff'),
         url('../fonts/chivo-black-webfont.ttf') format('truetype'),
         url('../fonts/chivo-black-webfont.svg#chivoblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Chivo';
    src: url('../fonts/chivo-regular-webfont.eot');
    src: url('../fonts/chivo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/chivo-regular-webfont.woff') format('woff'),
         url('../fonts/chivo-regular-webfont.ttf') format('truetype'),
         url('../fonts/chivo-regular-webfont.svg#chivoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Diplomata SC';
    src: url('../fonts/diplomatasc-regular-webfont.eot');
    src: url('../fonts/diplomatasc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/diplomatasc-regular-webfont.woff') format('woff'),
         url('../fonts/diplomatasc-regular-webfont.ttf') format('truetype'),
         url('../fonts/diplomatasc-regular-webfont.svg#diplomata_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Holtwood One SC';
    src: url('../fonts/holtwoodonesc-webfont.eot');
    src: url('../fonts/holtwoodonesc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/holtwoodonesc-webfont.woff') format('woff'),
         url('../fonts/holtwoodonesc-webfont.ttf') format('truetype'),
         url('../fonts/holtwoodonesc-webfont.svg#holtwood_one_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/playfairdisplaysc-black-webfont.eot');
    src: url('../fonts/playfairdisplaysc-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-black-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-black-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplaysc-black-webfont.svg#playfair_display_scblack') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/playfairdisplaysc-bold-webfont.eot');
    src: url('../fonts/playfairdisplaysc-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-bold-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-bold-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplaysc-bold-webfont.svg#playfair_display_scbold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display SC';
    src: url('../fonts/playfairdisplaysc-regular-webfont.eot');
    src: url('../fonts/playfairdisplaysc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/playfairdisplaysc-regular-webfont.woff') format('woff'),
         url('../fonts/playfairdisplaysc-regular-webfont.ttf') format('truetype'),
         url('../fonts/playfairdisplaysc-regular-webfont.svg#playfair_display_scregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rye';
    src: url('../fonts/rye-regular-webfont.eot');
    src: url('../fonts/rye-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rye-regular-webfont.woff') format('woff'),
         url('../fonts/rye-regular-webfont.ttf') format('truetype'),
         url('../fonts/rye-regular-webfont.svg#ryeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DejaVuSansMonoBook';
    src: url('../fonts/dejavusansmono-webfont.eot');
    src: url('../fonts/dejavusansmono-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/dejavusansmono-webfont.woff') format('woff'),
         url('../fonts/dejavusansmono-webfont.ttf') format('truetype'),
         url('../fonts/dejavusansmono-webfont.svg#DejaVuSansMonoBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-regular-webfont.eot');
    src: url('../fonts/texgyreschola-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-regular-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-regular-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-regular-webfont.svg#TeXGyreScholaBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-bold-webfont.eot');
    src: url('../fonts/texgyreschola-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bold-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bold-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bold-webfont.svg#TeXGyreScholaBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot');
    src: url('../fonts/texgyreschola-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-bolditalic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-bolditalic-webfont.svg#TeXGyreScholaBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TeXGyreSchola';
    src: url('../fonts/texgyreschola-italic-webfont.eot');
    src: url('../fonts/texgyreschola-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/texgyreschola-italic-webfont.woff') format('woff'),
         url('../fonts/texgyreschola-italic-webfont.ttf') format('truetype'),
         url('../fonts/texgyreschola-italic-webfont.svg#TeXGyreScholaItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

html {
    background-color: cornsilk;
    text-align: center;
}

h1 {
    font-family: 'Rye';
    font-weight: normal;
    font-size: 300%;
}

h2 {
    font-family: 'Playfair Display SC';
    font-size: 300%;
}

p {
    font-family: 'TeXGyreSchola';
    font-size: 200%;
}

strong {
    font-family: 'Holtwood One SC';
    font-weight: normal;
}

pre {
    font-family: DejaVuSansMonoBook;
    text-align: left;
    font-size: 150%;
    margin-left: 2em;
    width: -moz-fit-content;
    margin: auto;
}

.poster {
    margin: 0;
    text-align: center;
}

.chivo {
    font-family: 'Chivo';
}

.diplomata {
    font-family: 'Diplomata SC';
}

.holtwood {
    font-family: 'Holtwood One SC';
}

.playfair {
    font-family: 'Playfair Display SC';
}

.rye {
    font-family: 'Rye';
}

.bold {
    font-weight: 700;
}

.black {
    font-weight: 900;
}

.pablo {
    font-size: 23pt;
}

.warsaw {
    font-size: 12pt;
}

.djangocon {
    font-size: 26pt;
}

.positively {
    font-size: 10pt;
}

.presentation {
    font-size: 36pt;
}

.counting {
    font-size: 12pt;
}

.being {
    font-size: 20pt;
}

.benefit {
    font-size: 34pt;
}

.prehistoric {
    font-size: 25pt;
}

.patterns {
    font-size: 34pt;
}

.poster .python {
    font-size: 32pt;
}

.lennart {
    font-size: 22.7pt;
}

.celebrated {
    font-size: 20pt;
}

.plone {
    font-size: 12pt;
}

.grandest {
    font-size: 23pt;
}

.afternoon {
    font-size: 12pt;
}

.ref {
  font-family: DejaVuSansMonoBook;
  font-size: 100%;
}

div.highlight.present {
    border: 5px dotted brown;
    border-radius: 10px 10px 10px 10px;
}

.concat1 {
    height: 60px;
    width: 650px;
}

.concat2 {
    height: 60px;
    width: 680px;
}

.sort1 {
    height: 60px;
    width: 340px;
}

.sort2 {
    height: 60px;
    width: 1280px;
}

.sort3 {
    height: 60px;
    width: 490px;
}

.sort4 {
    height: 130px;
    width: 600px;
}

.sort5 {
    height: 60px;
    width: 405px;
}

